In [1]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from streamlit_option_menu import option_menu
from PIL import Image

In [6]:
os.environ["GIT_PYTHON_REFRESH"] = "quiet"
import git
from git.repo.base import Repo
Repo.clone_from("https://github.com/PhonePe/pulse.git", "D:\Capstone\Phonepe1")

<>:4: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\C'
C:\Users\ksree\AppData\Local\Temp\ipykernel_5500\3546484997.py:4: SyntaxWarning: invalid escape sequence '\C'
  Repo.clone_from("https://github.com/PhonePe/pulse.git", "D:\Capstone\Phonepe1")

In [3]:
path1 = "D:/Capstone/Phonepe1/data/aggregated/transaction/country/india/state"
state_list = os.listdir(path1)
print(state_list)
column1 = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [],
            'Transaction_amount': []}
for state in state_list:
    cur_state = path1 + "/" +state + "/"
    year_list = os.listdir(cur_state)
   
    for k in year_list:
     cur_year =cur_state+k+"/"
     jstring=os.listdir(cur_year)
    
     for a in jstring:
      curr_data = cur_year+a
    
      data=open(curr_data)
      A=json.load(data)
    
      for i in A['data']['transactionData']:
       name=i['name']
       count=i['paymentInstruments'][0]['count']
       amount=i['paymentInstruments'][0]['amount']
       column1['Transaction_type'].append(name)
       column1['Transaction_amount'].append(amount)
       column1['Transaction_count'].append(count)
       column1['State'].append(state)
       column1['Year'].append(k)
       column1['Quarter'].append(int(a.strip('.json')))
     
df_trans=pd.DataFrame(column1)
df_trans

['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [4]:
df_trans.shape

(4134, 6)

In [29]:
df_trans.shape

(15, 6)

In [63]:
df_trans.to_csv("transactiondata.csv", index=False)

In [5]:
path2 = "D://Capstone//Phonepe1//data//aggregated//user//country//india//state"
state_list1 = os.listdir(path2)
column2 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}

for state in state_list1:
    cur_year= path2+"//"+state+"//"
    year_list1=os.listdir(cur_year)
   
    for year in year_list1:
      cur_j= cur_year+year+"//"
      j_list=os.listdir(cur_j)
      
      for jstring in j_list:
       B= cur_j+jstring
       data=open(B,'r')
       B=json.load(data)
      
       try:    
        for j in B["data"]["usersByDevice"]:
          print("j",j)
          brand_name=j['brand']
          count=j['count']
          percentage=j['percentage']
          column2['State'].append(state)
          column2['Year'].append(year)
          column2['Brands'].append(brand_name)
          column2['Count'].append(count)
          column2['Percentage'].append(percentage)
          column2['Quarter'].append(int(jstring.strip('.json')))
       except:
        pass    
df_user=pd.DataFrame(column2)
df_user

j {'brand': 'Xiaomi', 'count': 1665, 'percentage': 0.2470326409495549}
j {'brand': 'Samsung', 'count': 1445, 'percentage': 0.21439169139465875}
j {'brand': 'Vivo', 'count': 982, 'percentage': 0.1456973293768546}
j {'brand': 'Oppo', 'count': 501, 'percentage': 0.07433234421364986}
j {'brand': 'OnePlus', 'count': 332, 'percentage': 0.04925816023738872}
j {'brand': 'Realme', 'count': 316, 'percentage': 0.04688427299703264}
j {'brand': 'Apple', 'count': 229, 'percentage': 0.03397626112759644}
j {'brand': 'Motorola', 'count': 226, 'percentage': 0.03353115727002967}
j {'brand': 'Lenovo', 'count': 202, 'percentage': 0.02997032640949555}
j {'brand': 'Huawei', 'count': 158, 'percentage': 0.02344213649851632}
j {'brand': 'Others', 'count': 684, 'percentage': 0.10148367952522255}
j {'brand': 'Xiaomi', 'count': 2303, 'percentage': 0.24486975013290802}
j {'brand': 'Samsung', 'count': 1923, 'percentage': 0.20446570972886763}
j {'brand': 'Vivo', 'count': 1523, 'percentage': 0.1619351408825093}
j {'brand': 'Oppo', 'count': 708, 'percentage': 0.07527910685805422}
j {'brand': 'OnePlus', 'count': 466, 'percentage': 0.049548112706007445}
j {'brand': 'Realme', 'count': 465, 'percentage': 0.049441786283891544}
j {'brand': 'Motorola', 'count': 319, 'percentage': 0.03391812865497076}
j {'brand': 'Apple', 'count': 308, 'percentage': 0.03274853801169591}
j {'brand': 'Lenovo', 'count': 244, 'percentage': 0.025943646996278574}
j {'brand': 'Huawei', 'count': 230, 'percentage': 0.024455077086656035}
j {'brand': 'Others', 'count': 916, 'percentage': 0.09739500265816055}
j {'brand': 'Xiaomi', 'count': 2950, 'percentage': 0.24281833895793892}
j {'brand': 'Samsung', 'count': 2409, 'percentage': 0.19828792493209318}
j {'brand': 'Vivo', 'count': 2063, 'percentage': 0.1698082146678739}
j {'brand': 'Oppo', 'count': 988, 'percentage': 0.08132356572557412}
j {'brand': 'OnePlus', 'count': 617, 'percentage': 0.05078607292781299}
j {'brand': 'Realme', 'count': 603, 'percentage': 0.04963371470902955}
j {'brand': 'Motorola', 'count': 390, 'percentage': 0.03210140752325294}
j {'brand': 'Apple', 'count': 371, 'percentage': 0.03053749279776113}
j {'brand': 'Huawei', 'count': 314, 'percentage': 0.0258457486212857}
j {'brand': 'Lenovo', 'count': 299, 'percentage': 0.024611079101160588}
j {'brand': 'Others', 'count': 1145, 'percentage': 0.09424644003621697}
j {'brand': 'Xiaomi', 'count': 3719, 'percentage': 0.24431743529102615}
j {'brand': 'Samsung', 'count': 2936, 'percentage': 0.19287872815661541}
j {'brand': 'Vivo', 'count': 2742, 'percentage': 0.1801340165549862}
j {'brand': 'Oppo', 'count': 1268, 'percentage': 0.08330048613848377}
j {'brand': 'Realme', 'count': 760, 'percentage': 0.04992773617133097}
j {'brand': 'OnePlus', 'count': 721, 'percentage': 0.0473656549730653}
j {'brand': 'Motorola', 'count': 474, 'percentage': 0.031139140717382736}
j {'brand': 'Apple', 'count': 455, 'percentage': 0.02989094731309946}
j {'brand': 'Huawei', 'count': 398, 'percentage': 0.02614636710024964}
j {'brand': 'Lenovo', 'count': 377, 'percentage': 0.024766784916568124}
j {'brand': 'Others', 'count': 1372, 'percentage': 0.09013270266719223}
j {'brand': 'Xiaomi', 'count': 4576, 'percentage': 0.24607442460744247}
j {'brand': 'Samsung', 'count': 3567, 'percentage': 0.19181544418154442}
j {'brand': 'Vivo', 'count': 3420, 'percentage': 0.18391051839105185}
j {'brand': 'Oppo', 'count': 1600, 'percentage': 0.08604000860400086}
j {'brand': 'Realme', 'count': 897, 'percentage': 0.04823617982361798}
j {'brand': 'OnePlus', 'count': 855, 'percentage': 0.04597762959776296}
j {'brand': 'Motorola', 'count': 561, 'percentage': 0.0301677780167778}
j {'brand': 'Apple', 'count': 515, 'percentage': 0.027694127769412775}
j {'brand': 'Huawei', 'count': 515, 'percentage': 0.027694127769412775}
j {'brand': 'Lenovo', 'count': 426, 'percentage': 0.02290815229081523}
j {'brand': 'Others', 'count': 1664, 'percentage': 0.0894816089481609}
j {'brand': 'Xiaomi', 'count': 5296, 'percentage': 0.24370714647278083}
j {'brand': 'Samsung', 'count': 4165, 'percentage': 0.19166168146886936}
j {'brand': 'Vivo', 'count': 4102, 'percentage': 0.18876259721135705}
j {'brand': 'Oppo', 'count': 1905, 'percentage': 0.08766278588191984}
j {'brand': 'Realme', 'count': 1012, 'percentage': 0.04656941696194377}
j {'brand': 'OnePlus', 'count': 950, 'percentage': 0.04371634991486816}
j {'brand': 'Huawei', 'count': 644, 'percentage': 0.029635083521236942}
j {'brand': 'Motorola', 'count': 630, 'percentage': 0.028990842575123098}
j {'brand': 'Apple', 'count': 569, 'percentage': 0.026183792738484195}
j {'brand': 'Lenovo', 'count': 477, 'percentage': 0.021950209378307488}
j {'brand': 'Others', 'count': 1981, 'percentage': 0.09116009387510929}
j {'brand': 'Xiaomi', 'count': 5819, 'percentage': 0.24315741088964105}
j {'brand': 'Vivo', 'count': 4685, 'percentage': 0.19577117546278885}
j {'brand': 'Samsung', 'count': 4508, 'percentage': 0.1883749112030421}
j {'brand': 'Oppo', 'count': 2108, 'percentage': 0.08808658225732313}
j {'brand': 'Realme', 'count': 1158, 'percentage': 0.04838911871630939}
j {'brand': 'OnePlus', 'count': 1045, 'percentage': 0.04366720989511512}
j {'brand': 'Huawei', 'count': 725, 'percentage': 0.030295432702352597}
j {'brand': 'Motorola', 'count': 660, 'percentage': 0.02757929046007271}
j {'brand': 'Apple', 'count': 630, 'percentage': 0.026325686348251224}
j {'brand': 'Lenovo', 'count': 483, 'percentage': 0.020183026200325936}
j {'brand': 'Others', 'count': 2110, 'percentage': 0.0881701558647779}
j {'brand': 'Xiaomi', 'count': 6259, 'percentage': 0.24110169491525424}
j {'brand': 'Vivo', 'count': 5190, 'percentage': 0.19992295839753466}
j {'brand': 'Samsung', 'count': 4900, 'percentage': 0.18875192604006163}
j {'brand': 'Oppo', 'count': 2329, 'percentage': 0.08971494607087828}
j {'brand': 'Realme', 'count': 1329, 'percentage': 0.051194144838212635}
j {'brand': 'OnePlus', 'count': 1124, 'percentage': 0.04329738058551618}
j {'brand': 'Huawei', 'count': 798, 'percentage': 0.03073959938366718}
j {'brand': 'Motorola', 'count': 682, 'percentage': 0.026271186440677965}
j {'brand': 'Apple', 'count': 678, 'percentage': 0.026117103235747303}
j {'brand': 'Lenovo', 'count': 488, 'percentage': 0.018798151001540832}
j {'brand': 'Others', 'count': 2183, 'percentage': 0.08409090909090909}
j {'brand': 'Xiaomi', 'count': 6803, 'percentage': 0.23981246474901297}
j {'brand': 'Vivo', 'count': 5880, 'percentage': 0.20727580372250423}
j {'brand': 'Samsung', 'count': 5335, 'percentage': 0.1880640157924422}
j {'brand': 'Oppo', 'count': 2557, 'percentage': 0.09013677382966723}
j {'brand': 'Realme', 'count': 1511, 'percentage': 0.05326424139875917}
j {'brand': 'OnePlus', 'count': 1184, 'percentage': 0.04173716864072194}
j {'brand': 'Huawei', 'count': 891, 'percentage': 0.03140862944162436}
j {'brand': 'Apple', 'count': 735, 'percentage': 0.02590947546531303}
j {'brand': 'Motorola', 'count': 715, 'percentage': 0.025204455724760294}
j {'brand': 'Lenovo', 'count': 500, 'percentage': 0.017625493513818386}
j {'brand': 'Others', 'count': 2257, 'percentage': 0.0795614777213762}
j {'brand': 'Xiaomi', 'count': 7805, 'percentage': 0.2386120452461021}
j {'brand': 'Vivo', 'count': 7122, 'percentage': 0.21773158055640476}
j {'brand': 'Samsung', 'count': 6030, 'percentage': 0.1843472944053806}
j {'brand': 'Oppo', 'count': 2976, 'percentage': 0.09098135126872516}
j {'brand': 'Realme', 'count': 1761, 'percentage': 0.053836747172118615}
j {'brand': 'OnePlus', 'count': 1271, 'percentage': 0.03885661877101804}
j {'brand': 'Huawei', 'count': 1005, 'percentage': 0.030724549067563438}
j {'brand': 'Apple', 'count': 792, 'percentage': 0.024212778966676857}
j {'brand': 'Motorola', 'count': 779, 'percentage': 0.023815346988688476}
j {'brand': 'Lenovo', 'count': 552, 'percentage': 0.01687557321919902}
j {'brand': 'Others', 'count': 2617, 'percentage': 0.0800061143381229}
j {'brand': 'Xiaomi', 'count': 9794, 'percentage': 0.2369420587879521}
j {'brand': 'Vivo', 'count': 9556, 'percentage': 0.23118422644248215}
j {'brand': 'Samsung', 'count': 7572, 'percentage': 0.18318616184831257}
j {'brand': 'Oppo', 'count': 3730, 'percentage': 0.09023829684286924}
j {'brand': 'Realme', 'count': 2285, 'percentage': 0.05528002903108745}
j {'brand': 'OnePlus', 'count': 1440, 'percentage': 0.03483730494738115}
j {'brand': 'Huawei', 'count': 1213, 'percentage': 0.029345590903592598}
j {'brand': 'Motorola', 'count': 907, 'percentage': 0.021942663602274103}
j {'brand': 'Apple', 'count': 870, 'percentage': 0.021047538405709446}
j {'brand': 'Lenovo', 'count': 606, 'percentage': 0.014660699165356235}
j {'brand': 'Others', 'count': 3362, 'percentage': 0.08133543002298295}
j {'brand': 'Xiaomi', 'count': 12398, 'percentage': 0.23662111611573403}
j {'brand': 'Vivo', 'count': 12275, 'percentage': 0.23427360867241775}
j {'brand': 'Samsung', 'count': 9938, 'percentage': 0.18967096724940835}
j {'brand': 'Oppo', 'count': 4723, 'percentage': 0.0901404687380716}
j {'brand': 'Realme', 'count': 2996, 'percentage': 0.05717993739980151}
j {'brand': 'OnePlus', 'count': 1638, 'percentage': 0.031261928391480266}
j {'brand': 'Huawei', 'count': 1472, 'percentage': 0.028093747614321703}
j {'brand': 'Motorola', 'count': 1032, 'percentage': 0.019696160012214674}
j {'brand': 'Apple', 'count': 973, 'percentage': 0.018570119856477593}
j {'brand': 'Lenovo', 'count': 708, 'percentage': 0.01351248186884495}
j {'brand': 'Others', 'count': 4243, 'percentage': 0.08097946408122758}
j {'brand': 'Vivo', 'count': 13812, 'percentage': 0.23913570414488036}
j {'brand': 'Xiaomi', 'count': 13714, 'percentage': 0.2374389694934035}
j {'brand': 'Samsung', 'count': 10861, 'percentage': 0.18804321479275599}
j {'brand': 'Oppo', 'count': 5158, 'percentage': 0.08930364624813879}
j {'brand': 'Realme', 'count': 3419, 'percentage': 0.05919526299387098}
j {'brand': 'OnePlus', 'count': 1773, 'percentage': 0.030697046296616917}
j {'brand': 'Huawei', 'count': 1575, 'percentage': 0.027268949755877972}
j {'brand': 'Motorola', 'count': 1062, 'percentage': 0.018387063263963433}
j {'brand': 'Apple', 'count': 1056, 'percentage': 0.018283181550607708}
j {'brand': 'Tecno', 'count': 796, 'percentage': 0.013781640638526264}
j {'brand': 'Others', 'count': 4532, 'percentage': 0.07846532082135808}
j {'brand': 'Vivo', 'count': 15056, 'percentage': 0.2424671873741847}
j {'brand': 'Xiaomi', 'count': 14788, 'percentage': 0.2381512199049843}
j {'brand': 'Samsung', 'count': 11476, 'percentage': 0.18481359207665674}
j {'brand': 'Oppo', 'count': 5456, 'percentage': 0.0878653675819309}
j {'brand': 'Realme', 'count': 4034, 'percentage': 0.06496497302520332}
j {'brand': 'OnePlus', 'count': 1981, 'percentage': 0.031902729688380704}
j {'brand': 'Huawei', 'count': 1559, 'percentage': 0.025106691360012885}
j {'brand': 'Apple', 'count': 1153, 'percentage': 0.018568322731298815}
j {'brand': 'Motorola', 'count': 1054, 'percentage': 0.0169739914646912}
j {'brand': 'Tecno', 'count': 974, 'percentage': 0.015685642966422417}
j {'brand': 'Others', 'count': 4564, 'percentage': 0.073500281826234}
j {'brand': 'Vivo', 'count': 16411, 'percentage': 0.24500612104744557}
j {'brand': 'Xiaomi', 'count': 15938, 'percentage': 0.2379445224090054}
j {'brand': 'Samsung', 'count': 12028, 'percentage': 0.17957063091576841}
j {'brand': 'Oppo', 'count': 5853, 'percentage': 0.0873816846316921}
j {'brand': 'Realme', 'count': 4808, 'percentage': 0.0717804783374638}
j {'brand': 'OnePlus', 'count': 2306, 'percentage': 0.03442715953539757}
j {'brand': 'Huawei', 'count': 1567, 'percentage': 0.023394344749335643}
j {'brand': 'Apple', 'count': 1283, 'percentage': 0.01915439968946881}
j {'brand': 'Tecno', 'count': 1178, 'percentage': 0.017586814368039175}
j {'brand': 'Motorola', 'count': 1017, 'percentage': 0.015183183541847063}
j {'brand': 'Others', 'count': 4593, 'percentage': 0.06857066077453644}
j {'brand': 'Vivo', 'count': 17597, 'percentage': 0.24515185288381164}
j {'brand': 'Xiaomi', 'count': 16968, 'percentage': 0.2363889662858735}
j {'brand': 'Samsung', 'count': 12574, 'percentage': 0.17517414321538033}
j {'brand': 'Oppo', 'count': 6127, 'percentage': 0.08535803845082196}
j {'brand': 'Realme', 'count': 5830, 'percentage': 0.08122039565338535}
j {'brand': 'OnePlus', 'count': 2691, 'percentage': 0.03748955140707718}
j {'brand': 'Apple', 'count': 1490, 'percentage': 0.020757871273335192}
j {'brand': 'Huawei', 'count': 1459, 'percentage': 0.020325996099191977}
j {'brand': 'Tecno', 'count': 1417, 'percentage': 0.01974087489551407}
j {'brand': 'Motorola', 'count': 1055, 'percentage': 0.014697687378099749}
j {'brand': 'Others', 'count': 4572, 'percentage': 0.06369462245750905}
j {'brand': 'Vivo', 'count': 18688, 'percentage': 0.24496644295302014}
j {'brand': 'Xiaomi', 'count': 17957, 'percentage': 0.23538433305369127}
j {'brand': 'Samsung', 'count': 12955, 'percentage': 0.16981700922818793}
j {'brand': 'Realme', 'count': 6769, 'percentage': 0.08872955117449664}
j {'brand': 'Oppo', 'count': 6461, 'percentage': 0.08469221895973154}
j {'brand': 'OnePlus', 'count': 3005, 'percentage': 0.039390205536912755}
j {'brand': 'Tecno', 'count': 1770, 'percentage': 0.02320155201342282}
j {'brand': 'Apple', 'count': 1634, 'percentage': 0.02141883389261745}
j {'brand': 'Huawei', 'count': 1441, 'percentage': 0.018888947147651006}
j {'brand': 'Motorola', 'count': 1050, 'percentage': 0.01376363255033557}
j {'brand': 'Others', 'count': 4558, 'percentage': 0.05974727348993288}
j {'brand': 'Xiaomi', 'count': 836581, 'percentage': 0.25073985823255257}
j {'brand': 'Samsung', 'count': 683687, 'percentage': 0.20491450493788307}
j {'brand': 'Vivo', 'count': 425959, 'percentage': 0.1276683301113459}
j {'brand': 'Oppo', 'count': 304487, 'percentage': 0.09126077117894768}
j {'brand': 'Realme', 'count': 236646, 'percentage': 0.07092748280357865}
j {'brand': 'Motorola', 'count': 129739, 'percentage': 0.03888534220503829}
j {'brand': 'OnePlus', 'count': 129421, 'percentage': 0.03879003132071513}
j {'brand': 'Apple', 'count': 123274, 'percentage': 0.03694765394356277}
j {'brand': 'Lenovo', 'count': 84138, 'percentage': 0.025217821337049858}
j {'brand': 'Huawei', 'count': 76654, 'percentage': 0.0229747186380734}
j {'brand': 'Others', 'count': 305864, 'percentage': 0.09167348529125267}
j {'brand': 'Xiaomi', 'count': 1113800, 'percentage': 0.25299031922481113}
j {'brand': 'Samsung', 'count': 903290, 'percentage': 0.20517474003643352}
j {'brand': 'Vivo', 'count': 586965, 'percentage': 0.13332417195528037}
j {'brand': 'Oppo', 'count': 410549, 'percentage': 0.0932527586347881}
j {'brand': 'Realme', 'count': 305964, 'percentage': 0.06949715391569412}
j {'brand': 'Motorola', 'count': 169847, 'percentage': 0.03857932011974905}
j {'brand': 'OnePlus', 'count': 155418, 'percentage': 0.035301893906699314}
j {'brand': 'Apple', 'count': 151847, 'percentage': 0.03449077123660432}
j {'brand': 'Lenovo', 'count': 107441, 'percentage': 0.024404321141886273}
j {'brand': 'Huawei', 'count': 102929, 'percentage': 0.023379458221844663}
j {'brand': 'Others', 'count': 394490, 'percentage': 0.08960509160620914}
j {'brand': 'Xiaomi', 'count': 1385112, 'percentage': 0.25519707820209125}
j {'brand': 'Samsung', 'count': 1103186, 'percentage': 0.2032542089834268}
j {'brand': 'Vivo', 'count': 761793, 'percentage': 0.1403549660928544}
j {'brand': 'Oppo', 'count': 518120, 'percentage': 0.09545994125967253}
j {'brand': 'Realme', 'count': 379712, 'percentage': 0.06995924730871762}
j {'brand': 'Motorola', 'count': 203756, 'percentage': 0.0375406002302668}
j {'brand': 'OnePlus', 'count': 181364, 'percentage': 0.03341503278510624}
j {'brand': 'Apple', 'count': 175343, 'percentage': 0.03230570616902408}
j {'brand': 'Huawei', 'count': 134429, 'percentage': 0.02476759137573635}
j {'brand': 'Lenovo', 'count': 122489, 'percentage': 0.0225677309213233}
j {'brand': 'Others', 'count': 462313, 'percentage': 0.08517789667178063}
j {'brand': 'Xiaomi', 'count': 1753802, 'percentage': 0.2557528652585838}
j {'brand': 'Samsung', 'count': 1388061, 'percentage': 0.20241770616277957}
j {'brand': 'Vivo', 'count': 1011185, 'percentage': 0.1474587559237024}
j {'brand': 'Oppo', 'count': 675093, 'percentage': 0.09844724151643865}
j {'brand': 'Realme', 'count': 476746, 'percentage': 0.06952275998121156}
j {'brand': 'Motorola', 'count': 250601, 'percentage': 0.03654456078090136}
j {'brand': 'OnePlus', 'count': 210161, 'percentage': 0.030647289668736397}
j {'brand': 'Apple', 'count': 209737, 'percentage': 0.030585458735216172}
j {'brand': 'Huawei', 'count': 176237, 'percentage': 0.025700231676424726}
j {'brand': 'Lenovo', 'count': 149583, 'percentage': 0.021813340869707494}
j {'brand': 'Others', 'count': 556203, 'percentage': 0.08110978942629789}
j {'brand': 'Xiaomi', 'count': 2110547, 'percentage': 0.2548040756637163}
j {'brand': 'Samsung', 'count': 1688342, 'percentage': 0.2038317188455079}
j {'brand': 'Vivo', 'count': 1262871, 'percentage': 0.15246506135021543}
j {'brand': 'Oppo', 'count': 835541, 'percentage': 0.10087396877877498}
j {'brand': 'Realme', 'count': 564832, 'percentage': 0.06819156155503205}
j {'brand': 'Motorola', 'count': 291830, 'percentage': 0.03523232290062355}
j {'brand': 'Apple', 'count': 241108, 'percentage': 0.02910871024200234}
j {'brand': 'OnePlus', 'count': 237269, 'percentage': 0.028645231889483775}
j {'brand': 'Huawei', 'count': 220082, 'percentage': 0.026570263813230417}
j {'brand': 'Lenovo', 'count': 171471, 'percentage': 0.020701509920477063}
j {'brand': 'Others', 'count': 659126, 'percentage': 0.07957557504093617}
j {'brand': 'Xiaomi', 'count': 2389374, 'percentage': 0.25448644547243193}
j {'brand': 'Samsung', 'count': 1914378, 'percentage': 0.20389577040288517}
j {'brand': 'Vivo', 'count': 1466695, 'percentage': 0.15621413690037164}
j {'brand': 'Oppo', 'count': 963352, 'percentage': 0.10260429142476576}
j {'brand': 'Realme', 'count': 641519, 'percentage': 0.0683266370241867}
j {'brand': 'Motorola', 'count': 324778, 'percentage': 0.03459131922739827}
j {'brand': 'Apple', 'count': 264860, 'percentage': 0.028209597973288536}
j {'brand': 'OnePlus', 'count': 254273, 'percentage': 0.027082002210458343}
j {'brand': 'Huawei', 'count': 250859, 'percentage': 0.026718385328026843}
j {'brand': 'Lenovo', 'count': 189151, 'percentage': 0.020146015503456544}
j {'brand': 'Others', 'count': 729764, 'percentage': 0.07772539853273026}
j {'brand': 'Xiaomi', 'count': 2656468, 'percentage': 0.2539961733268201}
j {'brand': 'Samsung', 'count': 2123659, 'percentage': 0.20305204483963724}
j {'brand': 'Vivo', 'count': 1674109, 'percentage': 0.16006866249922433}
j {'brand': 'Oppo', 'count': 1087660, 'percentage': 0.10399578608914135}
j {'brand': 'Realme', 'count': 727964, 'percentage': 0.0696037258192778}
j {'brand': 'Motorola', 'count': 348910, 'percentage': 0.03336076505926697}
j {'brand': 'Apple', 'count': 286412, 'percentage': 0.02738506618370001}
j {'brand': 'Huawei', 'count': 282587, 'percentage': 0.02701934170933213}
j {'brand': 'OnePlus', 'count': 271100, 'percentage': 0.02592102091532852}
j {'brand': 'Lenovo', 'count': 194180, 'percentage': 0.018566373446471753}
j {'brand': 'Others', 'count': 805644, 'percentage': 0.07703104011179981}
j {'brand': 'Xiaomi', 'count': 2985953, 'percentage': 0.25395328393725297}
j {'brand': 'Samsung', 'count': 2379139, 'percentage': 0.20234416348589282}
j {'brand': 'Vivo', 'count': 1922141, 'percentage': 0.1634767925484545}
j {'brand': 'Oppo', 'count': 1241235, 'percentage': 0.10556619758846043}
j {'brand': 'Realme', 'count': 844668, 'percentage': 0.07183844234544604}
j {'brand': 'Motorola', 'count': 381692, 'percentage': 0.03246264654955318}
j {'brand': 'Huawei', 'count': 317290, 'percentage': 0.026985299989802584}
j {'brand': 'Apple', 'count': 308354, 'percentage': 0.026225299231162617}
j {'brand': 'OnePlus', 'count': 286412, 'percentage': 0.0243591469654869}
j {'brand': 'Lenovo', 'count': 208785, 'percentage': 0.01775702309675985}
j {'brand': 'Others', 'count': 882214, 'percentage': 0.07503170426172807}

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [6]:
df_user.shape

(6732, 6)

In [6]:
path3 ="D:\\Capstone\\Phonepe1\\data\\map\\transaction\\hover\\country\\india\\state"

map_list=os.listdir(path3)
column3 = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

print(map_list)
for state in map_list:
    cur_state1=path3 +"/"+state+"/"
    map_year=os.listdir(cur_state1)
   
    
    for year1 in map_year:
        trans_year=cur_state1+year1+"\\"
        j_year1=os.listdir(trans_year)
        
        
        for jdata in j_year1:
            jstring1=trans_year+jdata
            data=open(jstring1,"r")
            C=json.load(data)
            

            for i in C["data"]["hoverDataList"]:
                District=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                column3['State'].append(state)
                column3['Year'].append(year1)
                column3['District'].append(District)
                column3['Quarter'].append(int(jdata.strip('.json')))
                column3['Count'].append(count)
                column3['Amount'].append(amount)
df_maptrans=pd.DataFrame(column3)
df_maptrans

['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']

,State,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,3,nadia district,30146530,5.787869e+10
16828,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,west-bengal,2023,3,maldah district,28539407,5.299766e+10
16831,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [13]:
path4 ="D:\\Capstone\\Phonepe1\\data\\map\\user\\hover\\country\\india\\state"
map_user_list=os.listdir(path4)

columns4 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

print(map_user_list)

for state4 in map_user_list:
    cur_state4=path4+ "/" +state4+"/"
    map_year4=os.listdir(cur_state4)


    for year4 in map_year4:
        user_year=cur_state4+year4+"/"
        j_year4=os.listdir(user_year)
        

        for jdata4 in j_year4:
            jstring4=user_year +jdata4
            data=open(jstring4,"r")
            D=json.load(data)
            
            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]['appOpens']
                columns4["District"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appOpens)
                columns4['State'].append(state4)
                columns4['Year'].append(year4)
                columns4['Quarter'].append(int(jdata4.strip('.json')))
df_map_user = pd.DataFrame(columns4)

['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']

In [14]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [15]:
path5 ="D:\\Capstone\\Phonepe1\\data\\top\\transaction\\country\\india\\state"
map_top_tlist=os.listdir(path5)
print(map_top_tlist)

columns5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}


for state5 in map_top_tlist:
    cur_state5=path5+ "/" +state5+"/"
    map_year5=os.listdir(cur_state5)
   

    for year5 in map_year5:
        toptrans_year=cur_state5+year5+"/"
        j_year5=os.listdir(toptrans_year)
       

        for jdata5 in j_year5:
            jstring5=toptrans_year + jdata5
            data=open(jstring5,"r")
            E=json.load(data)
            
            for i in E['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns5['Pincode'].append(name)
                columns5['Transaction_count'].append(count)
                columns5['Transaction_amount'].append(amount)
                columns5['State'].append(state)
                columns5['Year'].append(year5)
                columns5['Quarter'].append(int(jdata5.strip('.json')))
df_maptop = pd.DataFrame(columns5)
df_maptop

['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']

NameError: name 'state' is not defined

In [21]:
df_maptop

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,west-bengal,2018,1,744101,1622,2.769298e+06
1,west-bengal,2018,1,744103,1223,2.238042e+06
2,west-bengal,2018,1,744102,969,3.519060e+06
3,west-bengal,2018,1,744105,685,1.298561e+06
4,west-bengal,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8205,west-bengal,2023,3,700001,3536928,7.193522e+09
8206,west-bengal,2023,3,721301,3464729,4.871566e+09
8207,west-bengal,2023,3,700039,3405551,5.095825e+09
8208,west-bengal,2023,3,732125,3347165,5.353831e+09
8209,west-bengal,2023,3,700015,3304464,5.003674e+09

In [70]:
path6 = "D:\\Capstone\\Phonepe1\\data\\top\\user\\country\\india\\state"
top_user_list = os.listdir(path6)
columns6 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = path6 +"/"+ state + "/"
    top_year_list = os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            F = json.load(data)
            
            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns6['Pincode'].append(name)
                columns6['RegisteredUsers'].append(registeredUsers)
                columns6['State'].append(state)
                columns6['Year'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))
df_top_user = pd.DataFrame(columns6)

In [71]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
8206                west-bengal  2023        3  700015           122316
8207                west-bengal  2023        3  742304           119245
8208                west-bengal  2023        3  721101           118798
8209                west-bengal  2023        3  700150           114987
8210                west-bengal  2023        3  734006           113991

[8211 rows x 5 columns]

In [13]:
df_trans.to_csv("aggrtransactiondata.csv", index=False)
df_user.to_csv("aggr_userdata.csv",index=False)
df_top_user.to_csv("top_user.csv",index=False)

NameError: name 'df_trans' is not defined

In [17]:
df_map_user.to_csv("map_user1.csv",index=False)

In [16]:
df_maptrans.to_csv("map_trans.csv",index=False)

In [22]:
df_maptop.to_csv("top_trans.csv",index=False)

In [18]:
import mysql.connector

In [19]:
con= mysql.connector.connect(host="localhost",
                            user= "root",
                            password="sujitha@1988",
                            db="phonepe")

In [4]:
cursor=con.cursor()

In [88]:
df_trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [90]:
df_user

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [89]:
query="create table aggtransactiondata(State varchar(100),Year int,Quarter int,Transaction_type varchar(150),Transaction_count	int,Transaction_amount int)"
sql=cursor.execute(query)
cursor.close()

True

In [93]:
query="create table aggr_userdata(State varchar(100),Year int,Quarter int,Brands varchar(150),count int,Percentage int)"
sql=cursor.execute(query)
cursor.close()

True

In [94]:
df_maptrans

,State,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2023,1,south twenty four parganas district,421793,3.492064e+08
1,andaman-&-nicobar-islands,2023,1,purba bardhaman district,396998,2.123560e+08
2,andaman-&-nicobar-islands,2023,1,uttar dinajpur district,242526,1.266584e+08
3,andaman-&-nicobar-islands,2023,1,kalimpong district,4972,7.706386e+06
4,andaman-&-nicobar-islands,2023,1,murshidabad district,833479,4.210689e+08
...,...,...,...,...,...,...
19039,west-bengal,2023,3,nadia district,30146530,5.787869e+10
19040,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
19041,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
19042,west-bengal,2023,3,maldah district,28539407,5.299766e+10
19043,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [96]:
cursor=con.cursor()
query="create table map_trans(State varchar(100),Year int,Quarter int,District varchar(150),Count int,Amount int)"
sql=cursor.execute(query)
cursor.close()

True

In [97]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,west-bengal,2023,1,north and middle andaman district,632,0
1,west-bengal,2023,1,south andaman district,5846,0
2,west-bengal,2023,1,nicobars district,262,0
3,west-bengal,2023,2,north and middle andaman district,911,0
4,west-bengal,2023,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [98]:
cursor=con.cursor()
query="create table map_user(State varchar(100),Year int,Quarter int,District varchar(150),RegisteredUser int,AppOpens int)"
sql=cursor.execute(query)
cursor.close()

True

In [99]:
df_maptop

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,west-bengal,2023,1,744101,1622,2.769298e+06
1,west-bengal,2023,1,744103,1223,2.238042e+06
2,west-bengal,2023,1,744102,969,3.519060e+06
3,west-bengal,2023,1,744105,685,1.298561e+06
4,west-bengal,2023,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8205,west-bengal,2023,3,700001,3536928,7.193522e+09
8206,west-bengal,2023,3,721301,3464729,4.871566e+09
8207,west-bengal,2023,3,700039,3405551,5.095825e+09
8208,west-bengal,2023,3,732125,3347165,5.353831e+09
8209,west-bengal,2023,3,700015,3304464,5.003674e+09

In [100]:
cursor=con.cursor()
query="create table top_trans(State varchar(100),Year int,Quarter int,Pincode int,Transaction_count int,Transaction_amount int)"
sql=cursor.execute(query)
cursor.close()

True

In [101]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
8206                west-bengal  2023        3  700015           122316
8207                west-bengal  2023        3  742304           119245
8208                west-bengal  2023        3  721101           118798
8209                west-bengal  2023        3  700150           114987
8210                west-bengal  2023        3  734006           113991

[8211 rows x 5 columns]

In [102]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
8206                west-bengal  2023        3  700015           122316
8207                west-bengal  2023        3  742304           119245
8208                west-bengal  2023        3  721101           118798
8209                west-bengal  2023        3  700150           114987
8210                west-bengal  2023        3  734006           113991

[8211 rows x 5 columns]

In [103]:
cursor=con.cursor()
query="create table top_user(State varchar(100),Year int,Quarter int,Pincode int,RegisteredUsers int)"
sql=cursor.execute(query)
cursor.close()

True

In [ ]:
State              | varchar(100) | YES  |     | NULL    |       |
| Year               | int          | YES  |     | NULL    |       |
| Quarter            | int          | YES  |     | NULL    |       |
| Transaction_type   | varchar(150) | YES  |     | NULL    |       |
| Transaction_count  | int          | YES  |     | NULL    |       |
| Transaction_amount

In [108]:
df_trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [14]:
df_agr_trans= pd.read_csv(r"D:\guvi\python\aggrtransactiondata.csv")
df_agr_trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [16]:
cursor=con.cursor()
for index,row in df_agr_trans.iterrows():  
  query="""insert into aggtransactiondata(State, Year, Quarter, Transaction_type, Transaction_count, Transaction_amount) values(%s,%s,%s,%s,%s,%s);"""
  
  values=(row['State'],
            row['Year'],
             row['Quarter'],
             row['Transaction_type'],
             row['Transaction_count'],
            row['Transaction_amount']
           )

  cursor.execute(query,values)
 
  con.commit()
cursor.close()

True

In [195]:
df_agr_trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [17]:
df_agr_user=pd.read_csv(r"D:\guvi\python\aggr_userdata.csv")
df_agr_user

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [19]:
cursor=con.cursor()

for index,row in df_agr_user.iterrows():
    
  query="""insert into aggr_userdata(State, Year, Quarter, Brands,Count,Percentage) values(%s,%s,%s,%s,%s,%s);"""
  
  values=(row['State'],
            row['Year'],
             row['Quarter'],
             row['Brands'],
             row['Count'],
            row['Percentage']
           )

  cursor.execute(query,values)
  
  con.commit()

cursor.close()

True

In [17]:
df_map_trans=pd.read_csv(r"D:\guvi\python\map_trans.csv")
df_map_trans

,State,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,3,nadia district,30146530,5.787869e+10
16828,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,west-bengal,2023,3,maldah district,28539407,5.299766e+10
16831,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [18]:
cursor=con.cursor()

for index,row in df_map_trans.iterrows():
    
  query="""insert into map_trans(State, Year, Quarter,District,Count,Amount) values(%s,%s,%s,%s,%s,%s);"""
  
  values= (row['State'],
            row['Year'],
             row['Quarter'],
             row['District'],
             row['Count'],
            row['Amount']
           )

  cursor.execute(query,values)
 
  con.commit()
cursor.close()

True

In [7]:
df_map_user=pd.read_csv(r"D:\guvi\python\map_user.csv")
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,west-bengal,2023,1,north and middle andaman district,632,0
1,west-bengal,2023,1,south andaman district,5846,0
2,west-bengal,2023,1,nicobars district,262,0
3,west-bengal,2023,2,north and middle andaman district,911,0
4,west-bengal,2023,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [21]:
cursor=con.cursor()

for index,row in df_map_user.iterrows():
    
  query="""insert into map_user(State, Year, Quarter,District,RegisteredUser,AppOpens) values(%s,%s,%s,%s,%s,%s);"""
  
  values= (row['State'],
            row['Year'],
             row['Quarter'],
             row['District'],
             row['RegisteredUser'],
            row['AppOpens']
           )

  cursor.execute(query,values)
  
  con.commit()

cursor.close()

True

In [23]:
df_top_trans=pd.read_csv(r"D:\guvi\python\top_trans.csv")
df_top_trans

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,west-bengal,2018,1,744101.0,1622,2.769298e+06
1,west-bengal,2018,1,744103.0,1223,2.238042e+06
2,west-bengal,2018,1,744102.0,969,3.519060e+06
3,west-bengal,2018,1,744105.0,685,1.298561e+06
4,west-bengal,2018,1,744104.0,340,1.039715e+06
...,...,...,...,...,...,...
8205,west-bengal,2023,3,700001.0,3536928,7.193522e+09
8206,west-bengal,2023,3,721301.0,3464729,4.871566e+09
8207,west-bengal,2023,3,700039.0,3405551,5.095825e+09
8208,west-bengal,2023,3,732125.0,3347165,5.353831e+09
8209,west-bengal,2023,3,700015.0,3304464,5.003674e+09

In [24]:
cursor=con.cursor()

for index,row in df_top_trans.iterrows():
    
 
  query="""insert into top_trans(State,Year,Quarter,Pincode,Transaction_count,Transaction_amount)values(%s,%s,%s,%s,%s,%s);"""
  
  values= (row['State'],
           row['Year'],
           row['Quarter'],
           row['Pincode'],
           row['Transaction_count'],
           row['Transaction_amount']
           )

  cursor.execute(query,values)
  
  con.commit()

cursor.close()

300 State                 west-bengal
Year                         2018
Quarter                         1
Pincode                  744101.0
Transaction_count            1622
Transaction_amount    2769297.904
Name: 0, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            1
Pincode                     744103.0
Transaction_count               1223
Transaction_amount    2238041.871612
Name: 1, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            1
Pincode                     744102.0
Transaction_count                969
Transaction_amount    3519059.937562
Name: 2, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           1
Pincode                    744105.0
Transaction_count               685
Transaction_amount    1298560.95155
Name: 3, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            1
Pincode                     744104.0
Transaction_count                340
Transaction_amount    1039715.311145
Name: 4, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           1
Pincode                    744107.0
Transaction_count               302
Transaction_amount    556059.530856
Name: 5, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           1
Pincode                    744301.0
Transaction_count               283
Transaction_amount    445739.163385
Name: 6, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           1
Pincode                    744112.0
Transaction_count               269
Transaction_amount    333709.567004
Name: 7, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           1
Pincode                    744202.0
Transaction_count               193
Transaction_amount    238914.016672
Name: 8, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           1
Pincode                    744302.0
Transaction_count               168
Transaction_amount    547469.650938
Name: 9, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            2
Pincode                     744101.0
Transaction_count               2701
Transaction_amount    6310089.917085
Name: 10, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            2
Pincode                     744103.0
Transaction_count               1965
Transaction_amount    4752146.698501
Name: 11, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            2
Pincode                     744102.0
Transaction_count               1525
Transaction_amount    5810267.574788
Name: 12, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            2
Pincode                     744105.0
Transaction_count                997
Transaction_amount    2200332.971863
Name: 13, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           2
Pincode                    744301.0
Transaction_count               767
Transaction_amount    1953749.37872
Name: 14, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            2
Pincode                     744104.0
Transaction_count                659
Transaction_amount    1650346.190651
Name: 15, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            2
Pincode                     744107.0
Transaction_count                594
Transaction_amount    1601569.982144
Name: 16, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           2
Pincode                    744112.0
Transaction_count               432
Transaction_amount    578829.179523
Name: 17, dtype: object
300 State                   west-bengal
Year                           2018
Quarter                           2
Pincode                    744202.0
Transaction_count               405
Transaction_amount    626523.980315
Name: 18, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            2
Pincode                     744302.0
Transaction_count                291
Transaction_amount    1026590.073586
Name: 19, dtype: object
300 State                     west-bengal
Year                             2018
Quarter                             3
Pincode                      744101.0
Transaction_count                3462
Transaction_amount    10833893.444489
Name: 20, dtype: object
300 State                     west-bengal
Year                             2018
Quarter                             3
Pincode                      744103.0
Transaction_count                3182
Transaction_amount    10184154.358592
Name: 21, dtype: object
300 State                     west-bengal
Year                             2018
Quarter                             3
Pincode                      744102.0
Transaction_count                2224
Transaction_amount    10365275.479701
Name: 22, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            3
Pincode                     744105.0
Transaction_count               1613
Transaction_amount    5152534.080403
Name: 23, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            3
Pincode                     744104.0
Transaction_count               1029
Transaction_amount    2588077.686658
Name: 24, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            3
Pincode                     744301.0
Transaction_count                975
Transaction_amount    4256576.349619
Name: 25, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            3
Pincode                     744112.0
Transaction_count                579
Transaction_amount    1145815.780171
Name: 26, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            3
Pincode                     744107.0
Transaction_count                547
Transaction_amount    1492405.302862
Name: 27, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            3
Pincode                     744302.0
Transaction_count                417
Transaction_amount    1976781.919949
Name: 28, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            3
Pincode                     744202.0
Transaction_count                341
Transaction_amount    2099404.078986
Name: 29, dtype: object
300 State                     west-bengal
Year                             2018
Quarter                             4
Pincode                      744101.0
Transaction_count                4674
Transaction_amount    16392855.280625
Name: 30, dtype: object
300 State                     west-bengal
Year                             2018
Quarter                             4
Pincode                      744103.0
Transaction_count                4576
Transaction_amount    17022520.257625
Name: 31, dtype: object
300 State                     west-bengal
Year                             2018
Quarter                             4
Pincode                      744102.0
Transaction_count                3306
Transaction_amount    17019977.183054
Name: 32, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            4
Pincode                     744105.0
Transaction_count               2513
Transaction_amount    9935282.832151
Name: 33, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            4
Pincode                     744104.0
Transaction_count               1432
Transaction_amount    6091757.917089
Name: 34, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            4
Pincode                     744211.0
Transaction_count               1225
Transaction_amount    3451359.606027
Name: 35, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            4
Pincode                     744301.0
Transaction_count                928
Transaction_amount    4606293.657526
Name: 36, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            4
Pincode                     744112.0
Transaction_count                759
Transaction_amount    2208675.043571
Name: 37, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            4
Pincode                     744107.0
Transaction_count                747
Transaction_amount    1825659.512898
Name: 38, dtype: object
300 State                    west-bengal
Year                            2018
Quarter                            4
Pincode                     744202.0
Transaction_count                702
Transaction_amount    3797054.167763
Name: 39, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             1
Pincode                      744103.0
Transaction_count                5742
Transaction_amount    19401964.779658
Name: 40, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             1
Pincode                      744101.0
Transaction_count                5156
Transaction_amount    15501306.227196
Name: 41, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             1
Pincode                      744102.0
Transaction_count                3925
Transaction_amount    16683547.094796
Name: 42, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             1
Pincode                      744105.0
Transaction_count                3553
Transaction_amount    11588669.480329
Name: 43, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            1
Pincode                     744104.0
Transaction_count               2833
Transaction_amount    9141657.219605
Name: 44, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            1
Pincode                     744211.0
Transaction_count               1511
Transaction_amount    5794838.401832
Name: 45, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            1
Pincode                     744202.0
Transaction_count               1112
Transaction_amount    3613381.294736
Name: 46, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            1
Pincode                     744107.0
Transaction_count               1029
Transaction_amount    3592930.297578
Name: 47, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            1
Pincode                     744301.0
Transaction_count                920
Transaction_amount    4652963.411148
Name: 48, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            1
Pincode                     744112.0
Transaction_count                802
Transaction_amount    1893718.653782
Name: 49, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             2
Pincode                      744104.0
Transaction_count                6142
Transaction_amount    15625676.560883
Name: 50, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             2
Pincode                      744103.0
Transaction_count                5847
Transaction_amount    23751450.067207
Name: 51, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             2
Pincode                      744101.0
Transaction_count                4863
Transaction_amount    19061125.411219
Name: 52, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             2
Pincode                      744102.0
Transaction_count                4120
Transaction_amount    18948733.987098
Name: 53, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             2
Pincode                      744105.0
Transaction_count                3500
Transaction_amount    13418692.199163
Name: 54, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            2
Pincode                     744202.0
Transaction_count               1153
Transaction_amount    3619993.391079
Name: 55, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            2
Pincode                     744107.0
Transaction_count               1124
Transaction_amount    2967445.390203
Name: 56, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            2
Pincode                     744211.0
Transaction_count               1047
Transaction_amount    3168331.991735
Name: 57, dtype: object
300 State                   west-bengal
Year                           2019
Quarter                           2
Pincode                    744301.0
Transaction_count              1007
Transaction_amount    4849284.51926
Name: 58, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            2
Pincode                     744112.0
Transaction_count                763
Transaction_amount    2928099.608406
Name: 59, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             3
Pincode                      744103.0
Transaction_count                5680
Transaction_amount    19906337.014256
Name: 60, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             3
Pincode                      744101.0
Transaction_count                5606
Transaction_amount    18745152.093516
Name: 61, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             3
Pincode                      744104.0
Transaction_count                4786
Transaction_amount    15754793.354826
Name: 62, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             3
Pincode                      744102.0
Transaction_count                3643
Transaction_amount    14572605.602745
Name: 63, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             3
Pincode                      744105.0
Transaction_count                3512
Transaction_amount    11767223.996888
Name: 64, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            3
Pincode                     744202.0
Transaction_count               1417
Transaction_amount    3875602.098203
Name: 65, dtype: object
300 State                   west-bengal
Year                           2019
Quarter                           3
Pincode                    744301.0
Transaction_count              1402
Transaction_amount    6195496.62173
Name: 66, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            3
Pincode                     744211.0
Transaction_count               1118
Transaction_amount    2983697.449378
Name: 67, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            3
Pincode                     744107.0
Transaction_count                914
Transaction_amount    1988299.759711
Name: 68, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            3
Pincode                     744112.0
Transaction_count                833
Transaction_amount    2198831.691941
Name: 69, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             4
Pincode                      744104.0
Transaction_count                6633
Transaction_amount    20626642.701509
Name: 70, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             4
Pincode                      744101.0
Transaction_count                5282
Transaction_amount    23247752.473849
Name: 71, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             4
Pincode                      744103.0
Transaction_count                4840
Transaction_amount    19792507.955761
Name: 72, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            4
Pincode                     744105.0
Transaction_count               3528
Transaction_amount    15302141.17488
Name: 73, dtype: object
300 State                     west-bengal
Year                             2019
Quarter                             4
Pincode                      744102.0
Transaction_count                3237
Transaction_amount    15350444.973208
Name: 74, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            4
Pincode                     744202.0
Transaction_count               1783
Transaction_amount    5800016.556113
Name: 75, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            4
Pincode                     744211.0
Transaction_count               1596
Transaction_amount    7908264.721919
Name: 76, dtype: object
300 State                    west-bengal
Year                            2019
Quarter                            4
Pincode                     744301.0
Transaction_count               1549
Transaction_amount    7056478.928839
Name: 77, dtype: object
300 State                   west-bengal
Year                           2019
Quarter                           4
Pincode                    744201.0
Transaction_count               886
Transaction_amount    946768.063648
Name: 78, dtype: object
300 State                  west-bengal
Year                          2019
Quarter                          4
Pincode                   744107.0
Transaction_count              777

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'

In [16]:
df_top_user=pd.read_csv(r"D:\guvi\python\top_user.csv")
df_top_user

                          State  Year  Quarter  Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1   744103             1608
1     andaman-&-nicobar-islands  2018        1   744101             1108
2     andaman-&-nicobar-islands  2018        1   744105             1075
3     andaman-&-nicobar-islands  2018        1   744102             1006
4     andaman-&-nicobar-islands  2018        1   744104              272
...                         ...   ...      ...      ...              ...
8206                west-bengal  2023        3   700015           122316
8207                west-bengal  2023        3   742304           119245
8208                west-bengal  2023        3   721101           118798
8209                west-bengal  2023        3   700150           114987
8210                west-bengal  2023        3   734006           113991

[8211 rows x 5 columns]

In [19]:
cursor=con.cursor()

for index,row in df_top_user.iterrows():
    
  query="""insert into top_user(State, Year, Quarter,Pincode,RegisteredUsers) values(%s,%s,%s,%s,%s);"""
  
  values= (row['State'],
           row['Year'],
           row['Quarter'],
           row['Pincode'],
           row['RegisteredUsers']
           )

  cursor.execute(query,values)
 
  con.commit()

cursor.close()

300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744103
RegisteredUsers                         1608
Name: 0, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744101
RegisteredUsers                         1108
Name: 1, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744105
RegisteredUsers                         1075
Name: 2, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744102
RegisteredUsers                         1006
Name: 3, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744104
RegisteredUsers                          272
Name: 4, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744202
RegisteredUsers                          237
Name: 5, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744112
RegisteredUsers                          215
Name: 6, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744301
RegisteredUsers                          207
Name: 7, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744107
RegisteredUsers                          196
Name: 8, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    1
Pincode                               744211
RegisteredUsers                          156
Name: 9, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744103
RegisteredUsers                         2188
Name: 10, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744101
RegisteredUsers                         1521
Name: 11, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744105
RegisteredUsers                         1492
Name: 12, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744102
RegisteredUsers                         1419
Name: 13, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744104
RegisteredUsers                          396
Name: 14, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744202
RegisteredUsers                          343
Name: 15, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744112
RegisteredUsers                          299
Name: 16, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744107
RegisteredUsers                          293
Name: 17, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744301
RegisteredUsers                          273
Name: 18, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    2
Pincode                               744211
RegisteredUsers                          240
Name: 19, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744103
RegisteredUsers                         2741
Name: 20, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744101
RegisteredUsers                         1978
Name: 21, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744105
RegisteredUsers                         1935
Name: 22, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744102
RegisteredUsers                         1803
Name: 23, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744104
RegisteredUsers                          507
Name: 24, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744202
RegisteredUsers                          446
Name: 25, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744112
RegisteredUsers                          388
Name: 26, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744107
RegisteredUsers                          384
Name: 27, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744301
RegisteredUsers                          372
Name: 28, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    3
Pincode                               744211
RegisteredUsers                          327
Name: 29, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744103
RegisteredUsers                         3373
Name: 30, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744101
RegisteredUsers                         2498
Name: 31, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744105
RegisteredUsers                         2416
Name: 32, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744102
RegisteredUsers                         2231
Name: 33, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744104
RegisteredUsers                          634
Name: 34, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744202
RegisteredUsers                          554
Name: 35, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744107
RegisteredUsers                          548
Name: 36, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744112
RegisteredUsers                          496
Name: 37, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744211
RegisteredUsers                          433
Name: 38, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2018
Quarter                                    4
Pincode                               744301
RegisteredUsers                          425
Name: 39, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744103
RegisteredUsers                         4136
Name: 40, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744101
RegisteredUsers                         3030
Name: 41, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744105
RegisteredUsers                         2994
Name: 42, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744102
RegisteredUsers                         2667
Name: 43, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744104
RegisteredUsers                          756
Name: 44, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744202
RegisteredUsers                          753
Name: 45, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744107
RegisteredUsers                          667
Name: 46, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744112
RegisteredUsers                          585
Name: 47, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744211
RegisteredUsers                          524
Name: 48, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    1
Pincode                               744301
RegisteredUsers                          488
Name: 49, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744103
RegisteredUsers                         4748
Name: 50, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744101
RegisteredUsers                         3631
Name: 51, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744105
RegisteredUsers                         3547
Name: 52, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744102
RegisteredUsers                         3008
Name: 53, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744202
RegisteredUsers                          885
Name: 54, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744104
RegisteredUsers                          878
Name: 55, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744107
RegisteredUsers                          787
Name: 56, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744112
RegisteredUsers                          672
Name: 57, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744211
RegisteredUsers                          633
Name: 58, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    2
Pincode                               744301
RegisteredUsers                          534
Name: 59, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744103
RegisteredUsers                         5218
Name: 60, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744101
RegisteredUsers                         4026
Name: 61, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744105
RegisteredUsers                         3920
Name: 62, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744102
RegisteredUsers                         3250
Name: 63, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744202
RegisteredUsers                          982
Name: 64, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744104
RegisteredUsers                          975
Name: 65, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744107
RegisteredUsers                          885
Name: 66, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744112
RegisteredUsers                          765
Name: 67, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744211
RegisteredUsers                          701
Name: 68, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    3
Pincode                               744301
RegisteredUsers                          575
Name: 69, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744103
RegisteredUsers                         5637
Name: 70, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744101
RegisteredUsers                         4321
Name: 71, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744105
RegisteredUsers                         4277
Name: 72, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744102
RegisteredUsers                         3485
Name: 73, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744202
RegisteredUsers                         1087
Name: 74, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744104
RegisteredUsers                         1062
Name: 75, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744107
RegisteredUsers                          953
Name: 76, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744112
RegisteredUsers                          812
Name: 77, dtype: object
300  State              andaman-&-nicobar-islands
Year                                    2019
Quarter                                    4
Pincode                               744211

True